.app {
   display: flex;
   flex-direction: column;
   height:100%;   
   background-image: url(/src/img/wallpaperflare.com_wallpaper.jpg);   
}
.contenedor {
   display: flex;
   flex-direction: row;
   justify-content: center;
   height: 45%;
   width: 100%;
   
   
}

.contenedor2 {
   display: flex;
   flex-direction: row;
   justify-content: center;
   height: 45%;
   width: 100%;   
}

.contenedor3 {
   display: flex;
   justify-content: flex-end; 
   align-items: center;
   height: 10%;
   width: 100%;
   
}


